/testbed/index.html
/testbed/script.js
/01-hello-world/index.html
/01-hello-world/script.js
02-operators-and-data-types/
03-function-basics/
04-variables/
05-if-and-switch-statements/
06-loops/
07-arrays/
/09-coding-tasks/README.md
helloWorld/
operators-and-data-types/
function-basics/
variables/
if-and-switch-statements/
loops/
arrays/