html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

input#red {
  accent-color: red;
}

input#green {
  accent-color: green;
}

input#blue {
  accent-color: blue;
}